---
import type { Illustration, PageTitleOptions } from '@utils/types';
import type { GetStaticPaths } from 'astro';
import { getCollection } from 'astro:content';
import GlobalWrapper from '@layouts/GlobalWrapper.astro';
import PageWide from '@layouts/PageWide.astro';
import PageTitle from '@components/PageTitle.astro';
import IllustrationWide from '@components/IllustrationWide.astro';
import IllustrationGrid from '@components/IllustrationGrid.astro';

export const getStaticPaths = (async () => {
  const illustrations: Illustration[] = await getCollection('illustrations');
  return illustrations.map((illustration: Illustration) => ({
    params: { slug: illustration.data.slug },
    props: { illustration },
  }));
}) satisfies GetStaticPaths;

const { illustration } = Astro.props;

const titleOptions: PageTitleOptions = {
  heading: 'Illustrations',
  subheading: 'Selected artworks.',
  image: {
    isShown: false,
  },
};
---

<GlobalWrapper pageTitle={illustration.data.title}>
  <PageWide>
    <PageTitle slot="title" titleOptions={titleOptions} />
    <section slot="content" class="illustration-wrapper">
      <IllustrationWide illustrationMeta={illustration.data} />
      <IllustrationGrid />
    </section>
  </PageWide>
</GlobalWrapper>

<style lang="scss">
  .illustration-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--space-30-40);
  }
</style>
