---
interface Props {
  title: string;
  url: string;
}

const { title, url }: Props = Astro.props;
---

<a class="pagination-button font-hgv--regular" href={url}>{title}</a>

<style lang="scss">
  .pagination-button {
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-primary);
    background: none;
    text-decoration: none;
    font-size: var(--font-size-s);
    line-height: 100%;
    border: var(--color-bg-secondary-1) solid 1px;
    border-radius: 30px;
    transition: border-color 0.3s;

    &:hover,
    &:focus {
      border-color: var(--color-primary);
    }
  }
</style>
