---
import type { Post } from '@utils/types';
import PostCard from '@components/feed/PostCard.astro';

interface Props {
  posts: Post[];
}

const { posts }: Props = Astro.props;
---

<div class="post-list">
  {posts.map((post: Post) => <PostCard post={post} />)}
</div>

<style lang="scss">
  .post-list {
    display: flex;
    flex-direction: column;
    gap: var(--space-50-80);
    padding-top: var(--space-100-160);
  }
</style>
