---
import { sortPostsDesc } from 'src/scripts/sort';
import PostCard from './PostCard.astro';
import { getCollection } from 'astro:content';

const posts = await getCollection('posts');
const sortedPosts = sortPostsDesc(posts);

interface Props {
  tag?: string;
}

const { tag } = Astro.props;

const displayedPosts = tag
  ? sortedPosts.filter((post) =>
      post.data.tags.includes(tag.replaceAll('-', ' '))
    )
  : sortedPosts;
---

<section class="wrapper">
  {
    displayedPosts.map((post, index: number) => (
      <PostCard index={index} postMeta={post.data} />
    ))
  }
</section>

<style lang="scss">
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--space-30-40);
  }
</style>
