---
import type { Topic } from '@utils/types';
import TopicCard from '@components/feed/TopicCard.astro';

interface Props {
  featuredTags: { topic: Topic; lastUpdated: string }[];
}

const { featuredTags }: Props = Astro.props;
---

<div class="tag-grid">
  {
    featuredTags.map((featuredTag: { topic: Topic; lastUpdated: string }) => (
      <TopicCard topic={featuredTag} />
    ))
  }
</div>

<style lang="scss">
  .tag-grid {
    display: grid;
    gap: var(--space-30-40);
    grid-template-columns: repeat(3, 1fr);
    padding-top: var(--space-100-160);

    @media only screen and (width <= 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (width <= 480px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
</style>
