---
import { generateSlug } from 'src/scripts/generateSlug';

interface Props {
  tag: string;
}

const { tag }: Props = Astro.props;
---

<a class="tag font-hgv-regular" href={`/${generateSlug(tag)}`}>
  {tag}
</a>

<style lang="scss">
  .tag {
    display: block;
    padding: 5px 10px;
    border: var(--color-bg-secondary) solid 1px;
    border-radius: 20px;
    text-decoration: none;
    color: var(--color-primary);
    font-size: var(--font-size-xs);
    line-height: 100%;
    transition: border-color 0.3s;

    &:hover,
    &:focus {
      border-color: var(--color-primary);
    }
  }
</style>
