:root {
  --font-size-xl: clamp(1.62rem, 1.4976rem + 0.5439vw, 1.9531rem);
  --font-size-m: clamp(1.125rem, 1.0791rem + 0.2041vw, 1.25rem);
  --font-size-s: clamp(0.9375rem, 0.9145rem + 0.102vw, 1rem);
  --font-size-xs: clamp(0.7813rem, 0.7744rem + 0.0306vw, 0.8rem);
}
