@use "@fontsource-variable/eb-garamond";
@use "@fontsource-variable/eb-garamond/wght-italic.css";
@use "@fontsource-variable/dm-sans";

// font-family: 'DM Sans Variable', sans-serif;

.font-medium {
  font-family: "EB Garamond Variable", serif;
  font-style: normal;
  font-weight: 500;
}

.font-regular {
  font-family: "EB Garamond Variable", serif;
  font-style: normal;
  font-weight: 400;
}

.font-italic {
  font-family: "EB Garamond Variable", serif;
  font-style: italic;
  font-weight: 400;
}

.font-uppercase {
  font-family: "EB Garamond Variable", serif;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
