@use "@fontsource-variable/hanken-grotesk";

.font-light {
  font-family: "Hanken Grotesk Variable", sans-serif;
  font-style: normal;
  font-weight: 300;
}

.font-regular {
  font-family: "Hanken Grotesk Variable", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.font-uppercase {
  font-family: "Hanken Grotesk Variable", sans-serif;
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
