@use "@fontsource-variable/geist";
@use "@fontsource-variable/geist-mono";

.font-geist-regular {
  font-family: "Geist Variable", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 165%;
}

.font-geist-light {
  font-family: "Geist Variable", sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 165%;
}

.font-geist-mono-uppercase {
  font-family: "Geist Mono Variable", monospace;
  font-style: normal;
  font-weight: 500;
  line-height: 165%;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
