.link-primary {
  color: var(--color-primary);
  text-decoration: none;
  transition: color 0.3s;

  &:focus,
  &:hover {
    color: var(--color-accent-primary);
  }
}

.link-secondary {
  color: var(--color-accent-primary);
  text-decoration: none;

  &:focus,
  &:hover {
    text-decoration: underline;
  }
}

.link-opacity {
  transition: opacity 0.3s;

  &:hover,
  &:focus {
    opacity: 0.8;
  }
}
