body {
  display: flex;
  flex-direction: column;

  // background-color: var(--background-primary);
  // color: var(--font-primary);
}

.container {
  max-width: 55rem;
  padding-inline: var(--space-30-40);
  margin-inline: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--space-30-80);

  @media only screen and (width <= 480px) {
    display: block;
  }
}
