:root {
  /* Color */
  --color-primary: #141414;
  --color-bg-primary: #fff;
  --color-accent-primary: #b02626;
  --color-accent-secondary: #595959;

  /* Font Size */
  --font-size-xl: clamp(1.2656rem, 1.2119rem + 0.2388vw, 1.4238rem);
  --font-size-l: clamp(1.125rem, 1.0772rem + 0.2123vw, 1.2656rem);
  --font-size-m: clamp(1rem, 0.9575rem + 0.1887vw, 1.125rem);
  --font-size-s: clamp(0.8889rem, 0.8512rem + 0.1677vw, 1rem);
  --font-size-xs: clamp(0.7901rem, 0.7566rem + 0.1491vw, 0.8889rem);
  --font-size-2xs: clamp(0.7023rem, 0.6725rem + 0.1325vw, 0.7901rem);

  /* Space */
  --space-120-160: clamp(7.5rem, 6.6509rem + 3.7736vw, 10rem);
  --space-40-100-wide: clamp(2.5rem, -8.15rem + 12vw, 6.25rem);
  --space-40-60: clamp(2.5rem, 2.0755rem + 1.8868vw, 3.75rem);
  --space-30-40: clamp(1.875rem, 1.6627rem + 0.9434vw, 2.5rem);
  --space-20-30: clamp(1.25rem, 1.0377rem + 0.9434vw, 1.875rem);
  --space-10-20: clamp(0.625rem, 0.4127rem + 0.9434vw, 1.25rem);
}
