:root {
  /* Color */
  --color-primary: #141414;
  --color-bg-primary: #fff;
  --color-bg-secondary: #f5f5f5;
  --color-accent-primary: #b02626;
  --color-accent-secondary: #595959;

  /* Font Size */
  --font-size-xl: clamp(1.62rem, 1.4727rem + 0.6545vw, 1.8rem);
  --font-size-l: clamp(1.35rem, 1.2273rem + 0.5455vw, 1.5rem);
  --font-size-m: clamp(1.125rem, 1.0227rem + 0.4545vw, 1.25rem);
  --font-size-s: clamp(0.9375rem, 0.8523rem + 0.3788vw, 1.0417rem);
  --font-size-xs: clamp(0.7813rem, 0.7102rem + 0.3157vw, 0.8681rem);

  /* Space */
  --space-40-100-wide: clamp(2.5rem, -0.1786rem + 5.3571vw, 6.25rem);
  --space-30-40: clamp(1.875rem, 1.3636rem + 2.2727vw, 2.5rem);
  --space-20-30: clamp(1.25rem, 0.7386rem + 2.2727vw, 1.875rem);
  --space-10-20: clamp(0.625rem, 0.1136rem + 2.2727vw, 1.25rem);
}
