:root {
  /* Colors */
  --color-primary: #141414;
  --color-secondary: #8a8a8a;
  --color-bg-primary: #fff;
  --color-bg-secondary-1: #d2d2d2;
  --color-bg-secondary-2: #f5f5f5;

  /* Font Size */
  --font-size-2xl: clamp(1.4238rem, 1.2327rem + 0.8493vw, 1.944rem); // 31.1px
  --font-size-xl: clamp(1.2656rem, 1.1354rem + 0.5786vw, 1.62rem); // 25.92px
  --font-size-l: clamp(1.125rem, 1.0423rem + 0.3673vw, 1.35rem); // 21.6px
  --font-size-m: clamp(1rem, 0.9541rem + 0.2041vw, 1.125rem); // 18px
  --font-size-s: clamp(0.8889rem, 0.871rem + 0.0794vw, 0.9375rem); // 15px
  --font-size-xs: clamp(0.7813rem, 0.7934rem + -0.0145vw, 0.7901rem); // 12.5px

  /* Space */
  --space-30-80: clamp(1.875rem, 0.727rem + 5.102vw, 5rem);
  --space-30-60: clamp(1.875rem, 1.1862rem + 3.0612vw, 3.75rem);
  --space-30-50: clamp(1.875rem, 1.4158rem + 2.0408vw, 3.125rem);
  --space-30-40: clamp(1.875rem, 1.6454rem + 1.0204vw, 2.5rem);
  --space-15-20: clamp(0.9375rem, 0.8227rem + 0.5102vw, 1.25rem);
}
