@use "@fontsource-variable/hanken-grotesk";

.font-hg-uppercase {
  font-family: "Hanken Grotesk Variable", sans-serif;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 100%;
  letter-spacing: 0.4em;
}
