:root {
  /* Color */
  --color-primary: #141414;
  --color-secondary: #595959;
  --color-accent-primary: #b02626;
  --color-accent-secondary: #d2d2d2;
  --color-bg-primary: #fff;
  --color-bg-secondary: #f5f5f5;

  /* Font Size */
  --font-size-xl: clamp(1.2656rem, 1.2231rem + 0.1889vw, 1.4238rem);
  --font-size-l: clamp(1.125rem, 1.0872rem + 0.1679vw, 1.2656rem);
  --font-size-m: clamp(1rem, 0.9664rem + 0.1493vw, 1.125rem);
  --font-size-s: clamp(0.8889rem, 0.859rem + 0.1327vw, 1rem);
  --font-size-xs: clamp(0.7901rem, 0.7636rem + 0.1179vw, 0.8889rem);
  --font-size-2xs: clamp(0.7023rem, 0.6787rem + 0.1048vw, 0.7901rem);

  /* Space */
  --space-90-120: clamp(5.625rem, 5.1213rem + 2.2388vw, 7.5rem);
  --space-70-100: clamp(4.375rem, 3.8713rem + 2.2388vw, 6.25rem);
  --space-40-60: clamp(2.5rem, 2.1642rem + 1.4925vw, 3.75rem);
  --space-30-40: clamp(1.875rem, 1.7071rem + 0.7463vw, 2.5rem);
}
