:root {
  /* Color */
  --color-primary: #141414;
  --color-secondary: #595959;
  --color-accent-primary: #b02626;
  --color-accent-secondary: #d2d2d2;
  --color-bg-primary: #fff;
  --color-bg-secondary: #f5f5f5;

  /* Font Size */
  --font-size-m: clamp(1rem, 0.9575rem + 0.1887vw, 1.125rem);
  --font-size-s: clamp(0.8889rem, 0.8512rem + 0.1677vw, 1rem);
  --font-size-xs: clamp(0.7901rem, 0.7566rem + 0.1491vw, 0.8889rem);
  --font-size-2xs: clamp(0.7023rem, 0.6725rem + 0.1325vw, 0.7901rem);

  /* Space */
  --space-120-160: clamp(7.5rem, 6.6509rem + 3.7736vw, 10rem);
  --space-70-100: clamp(4.375rem, 3.7382rem + 2.8302vw, 6.25rem);
  --space-60-80: clamp(3.75rem, 3.3255rem + 1.8868vw, 5rem);
  --space-40-100-wide: clamp(2.5rem, -8.15rem + 12vw, 6.25rem);
  --space-30-40: clamp(1.875rem, 1.6627rem + 0.9434vw, 2.5rem);
  --space-20-30: clamp(1.25rem, 1.0377rem + 0.9434vw, 1.875rem);
  --space-5-10: clamp(0.3125rem, 0.2064rem + 0.4717vw, 0.625rem);
}
