:root {
  /* Color */
  --color-primary: #141414;
  --color-secondary: #595959;
  --color-accent-primary: #b02626;
  --color-accent-secondary: #d2d2d2;
  --color-bg-primary: #fff;
  --color-bg-secondary: #f5f5f5;

  /* Font Size */
  --font-size-m: clamp(1rem, 0.9575rem + 0.1887vw, 1.125rem);
  --font-size-s: clamp(0.8889rem, 0.8512rem + 0.1677vw, 1rem);
  --font-size-xs: clamp(0.7901rem, 0.7566rem + 0.1491vw, 0.8889rem);
  --font-size-2xs: clamp(0.7023rem, 0.6725rem + 0.1325vw, 0.7901rem);

  /* Space */
  --space-30-100: clamp(1.875rem, 0.3892rem + 6.6038vw, 6.25rem);
  --space-30-40: clamp(1.875rem, 1.6627rem + 0.9434vw, 2.5rem);
}
