@use "./partials/colors";
@use "./partials/font-sizes";
@use "./partials/spaces";
@use "./partials/normalize";
@use "./partials/typography";
@use "./partials/links";
@use "./partials/buttons";
@use "./partials//images";

body {
  display: flex;
  flex-direction: column;
  color: var(--color-primary);
  background-color: var(--color-bg-primary);
}

.container {
  max-width: 83.75rem;
  padding-inline: var(--space-30-40);
  margin-inline: auto;
}
