@use "./partials/tokens";
@use "./partials/normalize";
@use "./partials/typography";

body {
  display: flex;
  flex-direction: column;
  color: var(--color-primary);
  background-color: var(--color-bg-primary);
}

.container {
  max-width: 83.75rem;
  padding-inline: var(--space-30-40);
  margin-inline: auto;
}

.visible {
  &--desktop {
    display: block;

    @media only screen and (width <= 800px) {
      display: none;
    }
  }

  &--mobile {
    display: none;

    @media only screen and (width <= 800px) {
      display: block;
    }
  }
}

.hidden {
  display: none;
}
