@use "./partials/tokens";
@use "./partials/normalize";
@use "./partials/typography";

body {
  display: flex;
  flex-direction: column;
  color: var(--color-primary);
  background-color: var(--color-bg-primary);
}

.container {
  max-width: 77.5rem; // 1240px
  padding-inline: var(--space-30-40);
  margin-inline: auto;
}

.visible {
  &--desktop {
    display: block;

    @media only screen and (width <= 768px) {
      display: none;
    }
  }

  &--mobile {
    display: none;

    @media only screen and (width <= 768px) {
      display: block;
    }
  }
}

.hidden {
  display: none;
}

.hero-image {
  width: 100%;
  height: auto;
  aspect-ratio: 2/1;
}
