:root {
  --grid-max-width: 91.25rem;
  --grid-gutter: var(
    --space-l-2xl,
    clamp(1.875rem, 0.8523rem + 4.5455vw, 5rem)
  );
  --grid-columns: 12;
}

.container {
  max-width: 1380px;
  padding-inline: 40px;
  margin-inline: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 80px;
}
