@use "./partials/variables";
@use "./partials/normalize";
@use "./partials/fonts";

body {
  display: flex;
  flex-direction: column;
  color: var(--color-primary);
  background-color: var(--color-bg-primary);
}

.container {
  max-width: 88.75rem;
  padding-inline: var(--space-30-40);
  margin-inline: auto;
}

.link {
  transition: color 0.3s;
  color: var(--color-accent-primary);

  &:hover,
  &:focus {
    color: var(--color-primary);
  }
}

.link-simple {
  text-decoration: none;
  color: var(--color-primary);
}

.link-inverted {
  transition: color 0.3s;
  text-decoration: none;
  color: var(--color-primary);

  &:hover,
  &:focus {
    color: var(--color-accent-primary);
    text-decoration: underline;
  }
}
