@use "./partials/tokens";
@use "./partials/normalize";
@use "./partials/fonts";

body {
  background-color: var(--color-bg-primary);
  color: var(--color-primary);
  display: flex;
  flex-direction: column;
  font-family: "EB Garamond Variable", serif;
}

.container {
  display: flex;
  justify-content: center;
  margin-inline: auto;
  max-width: 50rem; //800px
  padding-inline: var(--space-30-40);
}
