@use "./partials/variables";
@use "./partials/normalize";
@use "./partials/fonts";

body {
  display: flex;
  flex-direction: column;
  color: var(--color-primary);
  background-color: var(--color-bg-primary);
}

.container {
  max-width: 106.25rem;
  padding-inline: var(--space-30-40);
  margin-inline: auto;
}

.link {
  text-decoration: none;
  color: var(--color-primary);

  &:hover,
  &:focus {
    color: var(--color-accent-primary);
    text-decoration: underline;
    text-underline-offset: 5px;
  }
}
