---
import type { ExtendedTopic } from '@utils/types';
import TopicCard from '@components/cards/TopicCard.astro';

interface Props {
  extendedTopics: ExtendedTopic[];
}

const { extendedTopics }: Props = Astro.props;
---

<div class="topic-feed">
  {
    extendedTopics.map((extendedTopic: ExtendedTopic) => (
      <TopicCard extendedTopic={extendedTopic} />
    ))
  }
</div>

<style lang="scss">
  .topic-feed {
    display: grid;
    gap: var(--space-30-40);
    grid-template-columns: repeat(3, 1fr);

    @media only screen and (width <= 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (width <= 480px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
</style>
