---
import type { PageTitle } from '@utils/types';
import { Image } from 'astro:assets';
import indexPageHeader from '@assets/index-page-header.jpg';

interface Props {
  pageTitle: PageTitle;
}

const { pageTitle } = Astro.props;
---

<section class="page-title-section">
  <div>
    <Image
      class="hero-image"
      src={indexPageHeader}
      alt="Website hero banner depicting a countryside in Greece"
      width="1128"
      height="564"
      decoding="async"
      loading="eager"
    />
  </div>
  <div class="title">
    <h1 class="title__heading font-hgv-regular">
      {pageTitle.heading}
    </h1>
    <h2 class="title__subheading font-hgv-light">
      {pageTitle.subheading}
    </h2>
  </div>
</section>

<style lang="scss">
  .page-title-section {
    display: flex;
    flex-direction: column;
    gap: var(--space-30-40);
    padding-bottom: var(--space-30-40);
  }

  .hero-image {
    width: 100%;
    height: auto;
    aspect-ratio: 2/1;
  }

  .title {
    display: flex;
    flex-direction: column;
    gap: var(--space-10-20);
    padding-bottom: var(--space-60-80);
    border-bottom: var(--color-bg-secondary) solid 1px;

    &__heading {
      max-width: 66%;
      font-size: var(--font-size-2xl);

      @media only screen and (width <= 768px) {
        max-width: 100%;
      }
    }

    &__subheading {
      max-width: 50%;
      font-size: var(--font-size-m);

      @media only screen and (width <= 768px) {
        max-width: 100%;
      }
    }
  }
</style>
