---

---

<div class="journal-title">
  <h1 class="title font-uppercase">Hi there</h1>
  <p class="subtitle font-regular">
    My name is Evgenii. Welcome to my website. I write about my hobbies and
    life, and I post my art and music. I decided to create this journal in order
    to cope with anxiety, preserve knowledge and memories, and reflect on my
    life.
  </p>
</div>

<style lang="scss">
  .journal-title {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: var(--space-100-160);
  }

  .title {
    font-size: var(--font-size-s);
  }

  .subtitle {
    font-size: var(--font-size-m);
    line-height: 150%;
  }
</style>
