---
import type { PageTitle } from '@utils/types';

interface Props {
  pageTitle: PageTitle;
}

const { pageTitle } = Astro.props;
---

<section class="page-title-section">
  <div class="title">
    <h1 class="title__heading font-hgv-regular">
      {pageTitle.heading}
    </h1>
  </div>
</section>

<style lang="scss">
  .page-title-section {
    display: flex;
    flex-direction: column;
    gap: var(--space-30-40);
    padding: var(--space-60-80) 0 var(--space-30-40) 0;
  }

  .title {
    display: flex;
    flex-direction: column;
    gap: var(--space-10-20);
    padding-bottom: var(--space-60-80);
    border-bottom: var(--color-bg-secondary) solid 1px;

    &__heading {
      max-width: 66%;
      font-size: var(--font-size-2xl);

      @media only screen and (width <= 768px) {
        max-width: 100%;
      }
    }
  }
</style>
