---
const info: string =
  "I'm a frontend software developer based in Thessaloniki, Greece. I love clean and minimal interfaces, accessible homemade and local applications, and digital gardens.";
---

<article class="widget">
  <header>
    <h3 class="title font-hgv-uppercase">About this Journal</h3>
  </header>
  <div>
    <p class="content font-hgv-light">{info}</p>
  </div>
</article>

<style lang="scss">
  .widget {
    display: flex;
    flex-direction: column;
    gap: var(--space-10-20);

    &:not(:last-child) {
      padding-bottom: var(--space-30-40);
      border-bottom: var(--color-bg-secondary) solid 1px;
    }
  }

  .title {
    font-size: var(--font-size-xs);
  }

  .content {
    font-size: var(--font-size-s);
    display: flex;
    flex-direction: column;
    gap: var(--space-10-20);
  }
</style>
