---

---

<article class="about-widget-wrapper">
  <header>
    <h3 class="title font-hgv-uppercase">About me</h3>
  </header>
  <div>
    <p class="content font-hgv-light">
      I'm a frontend software developer based in Thessaloniki, Greece. I love
      clean and minimal interfaces, accessible homemade and local applications,
      and digital gardens.
    </p>
  </div>
</article>

<style lang="scss">
  .about-widget-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--space-15-20);

    &:not(:last-child) {
      padding-bottom: var(--space-30-40);
      border-bottom: var(--color-bg-secondary) solid 1px;
    }
  }

  .title {
    font-size: var(--font-size-xs);
    line-height: 165%;
  }

  .content {
    font-size: var(--font-size-s);
  }
</style>
