---
import { sortPostsDesc } from 'src/scripts/sort';
import { getCollection } from 'astro:content';
import WidgetLayout from 'src/layouts/WidgetLayout.astro';

const posts = await getCollection('posts');
const displayedPosts = sortPostsDesc(posts).slice(0, 5);
---

<WidgetLayout>
  <h3 slot="title" class="title font-hgv-uppercase">Recent posts</h3>
  <ul slot="content" role="list" class="content font-hgv-light">
    {
      displayedPosts.map((post) => (
        <li>
          <a class="link-default" href={`/posts/${post.data.slug}`}>
            {post.data.title}
          </a>{' '}
          on {post.data.datePublished}
        </li>
      ))
    }
  </ul>
</WidgetLayout>

<style lang="scss">
  .title {
    font-size: var(--font-size-xs);
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: var(--space-10-20);
    font-size: var(--font-size-s);
  }
</style>
