---
import { ABOUT_THIS_JOURNAL_INFO } from '@utils/const';
import WidgetWrapper from '@layouts/WidgetWrapper.astro';
---

<WidgetWrapper>
  <h3 slot="title" class="title font-hgv-uppercase">About this Journal</h3>
  <p slot="content" class="content font-hgv-light">
    {ABOUT_THIS_JOURNAL_INFO}
  </p>
</WidgetWrapper>

<style lang="scss">
  .title {
    font-size: var(--font-size-xs);
  }

  .content {
    font-size: var(--font-size-s);
  }
</style>
