---
import type { NavigationItem } from '@utils/types';
import { PAGES } from '@utils/const';
import WidgetWrapper from '@layouts/WidgetWrapper.astro';
---

<WidgetWrapper>
  <h3 slot="title" class="title font-hgv-uppercase">Pages</h3>
  <ul slot="content" class="content font-hgv-light" role="list">
    {
      PAGES.map((page: NavigationItem) => (
        <li>
          <a class="link--primary" href={page.url}>
            {page.title}
          </a>
        </li>
      ))
    }
  </ul>
</WidgetWrapper>

<style lang="scss">
  .title {
    font-size: var(--font-size-xs);
  }

  .content {
    font-size: var(--font-size-s);
    display: flex;
    flex-direction: column;
    gap: var(--space-10-20);
  }
</style>
