---
interface Props {
  quote: string;
  author: string;
}

const { quote, author }: Props = Astro.props;
---

<blockquote class="quote">
  <p class="text font-regular">{quote}</p>
  <p class="author font-uppercase">{author}</p>
</blockquote>

<style lang="scss">
  .quote {
    display: flex;
    flex-direction: column;
    gap: var(--space-10-20);
    align-items: flex-end;
    padding-left: var(--space-30-40);
    border-left: var(--color-accent-primary) solid 2px;
  }

  .text {
    font-size: var(--font-size-s);
    line-height: 165%;
  }

  .author {
    font-size: var(--font-size-2xs);
    line-height: 165%;
  }
</style>
