---
import { Image } from 'astro:assets';

interface Props {
  src: ImageMetadata;
  caption: string;
}

const { src, caption }: Props = Astro.props;
---

<div class="image-with-caption">
  <Image
    class="image"
    src={src}
    alt={caption}
    width="720"
    height="480"
    decoding="async"
    loading="eager"
  />
  <p class="caption font-caption">{caption}</p>
</div>

<style lang="scss">
  .image-with-caption {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .image {
    aspect-ratio: auto;
    height: auto;
    width: 100%;
  }

  .caption {
    color: var(--color-primary);
    font-size: var(--font-size-xs);
    line-height: 135%;
  }
</style>
