---
import type { NavigationItem, Post } from '@utils/types';
import { getCollection } from 'astro:content';
import { generateSlug, generateUniqueTags } from '@utils/scripts';
import GlobalWrapper from '@layouts/GlobalWrapper.astro';
import PageTitle from '@components/PageTitle.astro';
import SmallCard from '@components/feed/SmallCard.astro';

const posts = await getCollection('posts');
const uniqueTags: NavigationItem[] = generateUniqueTags(posts);
const tagItems: { title: string; url: string; count: number }[] =
  uniqueTags.map((tag: NavigationItem) => {
    return {
      title: tag.title,
      url: tag.url,
      count: posts.filter((post: Post) => post.data.tags.includes(tag.title))
        .length,
    };
  });

const sortedTagItems = () => {
  return tagItems.sort((prev, next) => (prev.count < next.count ? 1 : -1));
};
---

<GlobalWrapper pageTitle="Tags">
  <PageTitle slot="title" showPhoto={false} title="Tags" />
  <div slot="main" class="content">
    {
      sortedTagItems().map(
        (tagItem: { title: string; url: string; count: number }) => (
          <SmallCard
            title={tagItem.title}
            slug={`/tags/${generateSlug(tagItem.url)}`}
            additionalInfo={tagItem.count.toString()}
          />
        )
      )
    }
  </div>
</GlobalWrapper>

<style lang="scss">
  .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: var(--narrow-content);
    padding-top: var(--space-100-160);
    width: 100%;
  }
</style>
