---
import type { NavigationItem } from '@utils/types';

const links: NavigationItem[] = [
  {
    title: 'Journal',
    url: '/',
  },
  {
    title: 'About',
    url: '/',
  },
  {
    title: 'Archive',
    url: '/archive',
  },
  {
    title: 'Topics',
    url: '/topics',
  },
];
---

<ul class="desktop-links" role="list">
  {
    links.map((link: NavigationItem) => (
      <li>
        <a class="link font-medium link-primary" href={link.url}>
          {link.title}
        </a>
      </li>
    ))
  }
</ul>

<style lang="scss">
  .desktop-links {
    align-items: center;
    display: flex;
    gap: var(--space-20-30);

    @media only screen and (width <= 768px) {
      display: none;
    }
  }

  .link {
    font-size: var(--font-size-m);
  }
</style>
