---
import type { NavigationItem } from 'src/utils/types';
import navigationItems from 'src/data/navigationItems.json';
---

<ul role="list" class="items">
  {
    navigationItems.map((item: NavigationItem) => (
      <li class="item">
        <a class="link-default" href={item.url}>
          {item.title}
        </a>
      </li>
    ))
  }
</ul>

<style lang="scss">
  .items {
    display: flex;
    gap: var(--space-20-30);
  }

  .item {
    display: flex;
    align-items: center;
    gap: var(--space-20-30);

    &:not(:first-child) {
      &::before {
        display: block;
        content: '';
        width: var(--space-30-50);
        height: 1px;
        background: var(--color-bg-secondary);
      }
    }
  }
</style>
