---

---

<a class="logo" href="/">
  <p class="title font-jost--uppercase">Boreal Heights</p>
  <p class="subtitle font-spectral--regular">Journal of Evgenii</p>
</a>

<style lang="scss">
  .logo {
    display: block;
    text-decoration: none;
  }

  .title {
    color: var(--color-primary);
    font-size: var(--font-size-xs);
  }

  .subtitle {
    color: var(--color-accent-secondary);
    font-size: var(--font-size-xs);
  }
</style>
