---
import { Image } from 'astro:assets';
import avatar from '@images/assets/avatar.jpg';
---

<div class="logo">
  <a href="/">
    <Image
      class="image"
      src={avatar}
      alt="Evgenii Grigorev"
      width="60"
      height="60"
      decoding="async"
      loading="eager"
    />
  </a>
  <div>
    <p class="title font-jost--uppercase">Boreal Heights</p>
    <p class="subtitle font-spectral--regular">Journal of Evgenii</p>
  </div>
</div>

<style lang="scss">
  .logo {
    align-items: center;
    display: flex;
    gap: 20px;
  }

  .image {
    aspect-ratio: 1/1;
    border-radius: 50%;
    height: auto;
    width: 100%;
  }

  .title {
    font-size: var(--font-size-xs);
  }

  .subtitle {
    color: var(--color-accent-secondary);
    font-size: var(--font-size-xs);
  }
</style>
