---
import type { NavigationItem } from 'src/utils/types';
import { TOP_NAV_LINKS } from '@utils/const';
---

<ul role="list" class="items">
  {
    TOP_NAV_LINKS.map((item: NavigationItem) => (
      <li>
        <a class="link-default" href={item.url}>
          {item.title}
        </a>
      </li>
    ))
  }
</ul>

<style lang="scss">
  .items {
    display: flex;
    flex-direction: column;
    gap: var(--space-20-30);
  }
</style>
