---
import type { NavigationItem } from '@utils/types';
import DesktopLinks from '@components/navigation/DesktopLinks.astro';
import Logo from '@components/navigation/Logo.astro';
import MobileLinks from '@components/navigation/MobileLinks.astro';

const links: NavigationItem[] = [
  {
    title: 'Journal',
    url: '/',
  },
  {
    title: 'About',
    url: '/about',
  },
  // {
  //   title: 'Reading',
  //   url: '/reading',
  // },
  {
    title: 'Archive',
    url: '/archive',
  },
];
---

<div class="navigation">
  <Logo />
  <nav>
    <DesktopLinks links={links} />
    <MobileLinks links={links} />
  </nav>
</div>

<style lang="scss">
  .navigation {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: var(--space-30-40) var(--space-40-100-wide);

    @media only screen and (width <= 1420px) {
      padding: var(--space-30-40);
    }
  }

  .logo {
    font-size: var(--font-size-s);
  }
</style>
