---
import DesktopLinks from '@components/navigation/DesktopLinks.astro';
import MobileLinks from '@components/navigation/MobileLinks.astro';
---

<div class="navigation">
  <a class="logo font-small-caps link-primary" href="/"> Evgenii Grigorev </a>
  <nav>
    <DesktopLinks />
    <MobileLinks />
  </nav>
</div>

<style lang="scss">
  .navigation {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: var(--space-30-40) var(--space-40-100-wide);

    @media only screen and (width <= 1420px) {
      padding: var(--space-30-40);
    }
  }

  .logo {
    font-size: var(--font-size-s);
  }
</style>
