---
import ContentWrapper from '@layouts/ContentWrapper.astro';
import GlobalWrapper from '@layouts/GlobalWrapper.astro';
import PageTitle from '@components/PageTitle.astro';
---

<GlobalWrapper pageTitle="404">
  <PageTitle slot="title" showPhoto={false} title="404" />
  <div slot="main" class="content">
    <ContentWrapper>
      <p>This page doesn't exist.</p>
    </ContentWrapper>
  </div>
</GlobalWrapper>

<style lang="scss">
  .content {
    display: flex;
    flex-direction: column;
    gap: var(--space-30-40);
    max-width: var(--narrow-content);
    padding-top: var(--space-100-160);
  }
</style>
