---
import type { PageTitleOptions } from '@utils/types';
import GlobalWrapper from '@layouts/GlobalWrapper.astro';
import PageTitle from '@components/PageTitle.astro';
import PageWide from '@layouts/PageWide.astro';

const titleOptions: PageTitleOptions = {
  heading: 'Page 404',
  image: {
    isShown: false,
  },
};
---

<GlobalWrapper pageTitle="404">
  <PageWide>
    <PageTitle slot="title" titleOptions={titleOptions} />
    <p slot="content">This page doesn't exist.</p>
  </PageWide>
</GlobalWrapper>
