---
import GlobalWrapper from '@layouts/GlobalWrapper.astro';
import TitleOneLine from '@components/title/TitleOneLine.astro';
import PageWide from '@layouts/PageWide.astro';
---

<GlobalWrapper pageTitle="500">
  <PageWide>
    <TitleOneLine slot="title" pageTitle={{ heading: 'Page 500' }} />
    <p slot="content">Internal server error.</p>
  </PageWide>
</GlobalWrapper>
