---
import type { Post } from '@utils/types';
import { getCollection } from 'astro:content';
import ArchiveFeed from '@components/feeds/ArchiveFeed.astro';
import GlobalWrapper from '@layouts/GlobalWrapper.astro';
import PageTitle from '@components/PageTitle.astro';

const posts: Post[] = await getCollection('posts');
---

<GlobalWrapper pageTitle="Archive">
  <PageTitle slot="title" showPhoto={false} title="Archive" />
  <div slot="main" class="content">
    <ArchiveFeed posts={posts} />
  </div>
</GlobalWrapper>

<style lang="scss">
  .content {
    max-width: var(--narrow-content);
    padding-top: var(--space-100-160);
    width: 100%;
  }
</style>
