---
import '@styles/global.scss';
import TopNavigation from '@components/TopNavigation.astro';
import Hero from '@components/Hero.astro';
import PageTitle from '@components/PageTitle.astro';

const pageTitle: { heading: string; subheading: string } = {
  heading: "I'm a frontend software developer based in Thessaloniki, Greece.",
  subheading:
    'I love clean and minimal interfaces, accessible homemade and local applications, and digital gardens.',
};
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="container">
    <TopNavigation />
    <Hero />
    <PageTitle title={pageTitle} />
  </body>
</html>
