---
import type { Title } from '@utils/types';
import '@styles/global.scss';
import Header from '@components/header/Header.astro';
import PageTitle from '@components/page-title/PageTitle.astro';

const pageTitle: Title = {
  heading: `I'm a frontend software developer based in Thessaloniki, Greece.`,
  subheading:
    'I love clean and minimal interfaces, accessible homemade and local applications, and digital gardens.',
  hasImage: true,
  hasCategories: true,
  hasMeta: true,
  meta: {
    datePublished: 'November 14, 1992',
    category: 'Journal',
  },
};
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Evgenii Grigorev"
      href={new URL('rss.xml', Astro.site)}
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{`Home • Evgenii Grigorev`}</title>
  </head>
  <body class="container">
    <div>
      <Header />
      <PageTitle pageTitle={pageTitle} />
    </div>
  </body>
</html>
