---
import { getCollection } from 'astro:content';
import type { Content } from '@utils/types';
import { sortContentDesc } from '@utils/scripts';
import journalSections from '@data/journalSections.json';
import GlobalWrapper from '@layouts/GlobalWrapper.astro';
import JournalSection from '@components/JournalSection.astro';
import Pagination from '@components/Pagination.astro';

const posts: Content[] = await getCollection('posts');
const albums: Content[] = await getCollection('albums');
const content: Content[] = sortContentDesc([...posts, ...albums]);
---

<GlobalWrapper pageTitle="Home">
  <div class="content">
    {
      journalSections.map((section) => (
        <JournalSection
          sectionTitle={section.title}
          content={content.filter(
            (item) => item.data.journalSection === section.title
          )}
        />
      ))
    }
  </div>
  <Pagination />
</GlobalWrapper>

<style lang="scss">
  .content {
    padding-top: var(--space-60-80);
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: var(--space-30-40);
  }
</style>
