---
import GlobalWrapper from '@layouts/GlobalWrapper.astro';
import JournalSection from '@components/JournalSection.astro';
import Pagination from '@components/Pagination.astro';
---

<GlobalWrapper pageTitle="Home">
  <main>
    <div class="content">
      <JournalSection />
      <JournalSection />
    </div>
    <Pagination />
  </main>
</GlobalWrapper>

<style lang="scss">
  .content {
    padding-top: var(--space-60-80);
    display: flex;
    flex-direction: column;
    gap: var(--space-30-40);
  }
</style>
