---
import '@styles/global.scss';
import TopNavigation from '@components/TopNavigation.astro';
import Hero from '@components/Hero.astro';
import PageTitle from '@components/PageTitle.astro';
import AboutWidget from '@components/AboutWidget.astro';
import PagesWidget from '@components/PagesWidget.astro';
import RecentPostsWidget from '@components/RecentPostsWidget.astro';
import TagsWidget from '@components/TagsWidget.astro';
import PostCardBig from '@components/PostCardBig.astro';

const pageTitle: { heading: string; subheading: string } = {
  heading: "I'm a frontend software developer based in Thessaloniki, Greece.",
  subheading:
    'I love clean and minimal interfaces, accessible homemade and local applications, and digital gardens.',
};
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="container">
    <TopNavigation />
    <Hero />
    <PageTitle title={pageTitle} />
    <main class="content-wrapper">
      <section class="feed">
        <PostCardBig />
      </section>
      <section class="widgets">
        <AboutWidget />
        <PagesWidget />
        <RecentPostsWidget />
        <TagsWidget />
      </section>
    </main>
  </body>
</html>

<style lang="scss">
  .content-wrapper {
    display: flex;
    gap: var(--space-30-60);
  }

  .feed {
    max-width: 768px;
  }

  .widgets {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: var(--space-30-40);
  }
</style>
