---
import type { Post } from '@utils/types';
import { getCollection } from 'astro:content';
import GlobalWrapper from '@layouts/GlobalWrapper.astro';
// import JournalTitle from '@components/page-title/JournalTitle.astro';
// import PostList from '@components/feed/PostList.astro';
---

<GlobalWrapper pageTitle="Boreal Heights">
  <div slot="main">TEST TEST TEST</div>
  <!-- <JournalTitle slot="title" />
  <PostList slot="main" posts={posts} /> -->
</GlobalWrapper>
