---
interface Props {
  quote: string;
  author: string;
}

const { quote, author } = Astro.props;
---

<blockquote class="quote-wrapper">
  <p class="quote font-hgv-regular">{quote}</p>
  <p class="author font-hgv-uppercase">{author}</p>
</blockquote>

<style lang="scss">
  .quote-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--space-30-40);
    align-items: flex-end;
    padding: var(--space-10-20) var(--space-30-40);
    border-left: var(--color-bg-secondary) solid 1px;
  }

  .quote {
    font-size: var(--font-size-m);
    font-style: italic;
  }

  .author {
    font-size: var(--font-size-xs);
  }
</style>
