---
import { Image } from 'astro:assets';

interface Props {
  src: ImageMetadata;
  caption: string;
}

const { src, caption } = Astro.props;
---

<div class="image-wrapper">
  <div>
    <Image
      class="image"
      src={src}
      alt={caption}
      width="768"
      height="768"
      decoding="async"
      loading="eager"
    />
  </div>
  <p class="caption">{caption}</p>
</div>

<style lang="scss">
  .image-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .image {
    width: 100%;
    height: auto;
    aspect-ratio: auto;
  }

  .caption {
    color: var(--color-secondary);
    font-size: var(--font-size-s);
  }
</style>
