---
import type { NavigationItem } from '@utils/types';

interface Props {
  sectionTitle: string;
  navigationItems: NavigationItem[];
}

const { sectionTitle, navigationItems }: Props = Astro.props;
---

<div class="section-wrapper">
  <div class="section-title">
    <p class="font-hgv--uppercase">{sectionTitle}</p>
  </div>
  <div>
    <ul class="items" role="list">
      {
        navigationItems.map((item: NavigationItem) => (
          <li>
            <a class="item font-hgv--uppercase link--primary" href={item.url}>
              {item.title}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</div>

<style lang="scss">
  .section-wrapper {
    display: flex;
    align-items: baseline;
    gap: var(--space-30-40);
  }

  .section-title {
    display: flex;
    align-items: center;
    gap: var(--space-30-40);
    font-size: var(--font-size-xs);

    &::after {
      display: block;
      content: '';
      width: var(--space-30-50);
      height: 1px;
      background: var(--color-bg-secondary-1);
    }
  }

  .items {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: var(--space-15-20);
  }

  .item {
    font-size: var(--font-size-xs);
  }
</style>
