---
import pages from '@data/pages.json';
import categories from '@data/categories.json';
import socialLinks from '@data/socialLinks.json';
import DropdownMenuSection from './DropdownMenuSection.astro';
---

<div class="dropdown-menu">
  <DropdownMenuSection sectionTitle="Pages" navigationItems={pages} />
  <DropdownMenuSection sectionTitle="Categories" navigationItems={categories} />
  <DropdownMenuSection sectionTitle="Elsewhere" navigationItems={socialLinks} />
</div>

<style lang="scss">
  .dropdown-menu {
    padding-top: var(--space-30-40);
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media only screen and (width <= 768px) {
      flex-direction: column;
      align-items: flex-start;
      gap: var(--space-30-40);
    }
  }
</style>
