---
import pages from '@data/pages.json';
import categories from '@data/categories.json';
import socialLinks from '@data/socialLinks.json';
import DropdownMenuSection from './DropdownMenuSection.astro';
---

<div class="dropdown-menu-wrapper">
  <DropdownMenuSection sectionTitle="Pages" navigationItems={pages} />
  <div class="separator"></div>
  <DropdownMenuSection sectionTitle="Categories" navigationItems={categories} />
  <div class="separator"></div>
  <DropdownMenuSection sectionTitle="Links" navigationItems={socialLinks} />
</div>

<style lang="scss">
  .dropdown-menu-wrapper {
    display: flex;
    justify-content: space-between;
    padding: var(--space-30-80) 0 var(--space-30-40) 0;
  }

  .separator {
    border-right: var(--color-bg-secondary-1) solid 1px;
  }
</style>
