---
import { Image } from 'astro:assets';
import menuIcon from '@images/assets/icons/icons8-menu.svg';
import closeIcon from '@images/assets/icons/icons8-close.svg';
import DropdownMenu from './DropdownMenu.astro';
---

<nav class="header">
  <div class="main">
    <a class="font-hg-uppercase link-primary nav-item" href="/"
      >Eagrigorev.com</a
    >
    <div class="icon-wrapper">
      <p id="icon-label" class="font-hg-uppercase nav-item">Menu</p>
      <button id="menu-button" class="font-hg-uppercase button-primary">
        <Image
          id="menu-icon"
          class="image-primary icon"
          src={menuIcon}
          alt="Menu"
          width="20"
          height="20"
          decoding="async"
          loading="eager"
        />
        <Image
          id="close-icon"
          class="image-primary icon hidden"
          src={closeIcon}
          alt="Menu"
          width="20"
          height="20"
          decoding="async"
          loading="eager"
        />
      </button>
    </div>
  </div>
  <div id="dropdown-menu" class="hidden">
    <DropdownMenu />
  </div>
</nav>

<script>
  let dropdownIsShown: boolean = false;
  document.querySelector('#menu-button')?.addEventListener('click', () => {
    document.querySelector('#dropdown-menu')?.classList.toggle('hidden');
    dropdownIsShown = !dropdownIsShown;
    document.querySelector('#menu-icon')?.classList.toggle('hidden');
    document.querySelector('#close-icon')?.classList.toggle('hidden');
    const iconLabel = document.getElementById('icon-label');
    if (iconLabel && dropdownIsShown) {
      iconLabel.innerHTML = 'Close';
    } else if (iconLabel && !dropdownIsShown) {
      iconLabel.innerHTML = 'Menu';
    }
  });
</script>

<style lang="scss">
  .header {
    padding: var(--space-30-40) 0;
  }

  .main {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-item {
    font-size: var(--font-size-xs);
  }

  .hidden {
    display: none;
  }

  .icon-wrapper {
    display: flex;
    align-items: center;
    gap: var(--space-15-20);
  }

  .icon {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
  }

  #icon-label {
    @media only screen and (width <= 480px) {
      display: none;
    }
  }
</style>
