---
import WidgetLayout from '@layouts/WidgetLayout.astro';
---

<WidgetLayout>
  <h3 slot="title" class="title font-hgv-uppercase">About this Journal</h3>
  <p slot="content" class="content font-hgv-light">
    I'm a frontend software developer based in Thessaloniki, Greece. I love
    clean and minimal interfaces, accessible homemade and local applications,
    and digital gardens.
  </p>
</WidgetLayout>

<style lang="scss">
  .title {
    font-size: var(--font-size-xs);
  }

  .content {
    font-size: var(--font-size-s);
  }
</style>
