---
import type { Album } from '@utils/types';
import { sortAlbumsDesc } from '@utils/scripts';
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';

const allAlbums: Album[] = await getCollection('albums');
const albums = sortAlbumsDesc(allAlbums);
---

<div class="album-grid-wrapper">
  {
    albums.map((album: Album) => (
      <a class="image--default" href={album.data.externalLink}>
        <Image
          class="image"
          src={album.data.image.url}
          alt={album.data.image.alt}
          width="300"
          height="300"
          decoding="async"
          loading="eager"
        />
      </a>
    ))
  }
</div>

<style lang="scss">
  .album-grid-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--space-10-20);

    @media only screen and (width <= 800px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .image {
    width: 100%;
    height: auto;
    aspect-ratio: auto;
  }
</style>
