---

---

<footer class="wrapper font-hgv-regular">
  <div class="top grid">
    <p>Thank you for stopping by. You can browse tags for more posts.</p>
  </div>
  <div class="bottom">
    <div>
      <span>© 2025 Evgenii Grigorev</span>
    </div>
    <div>
      <a href="/">Home</a> | <a href="/">About</a> | <a href="/">Pages</a>
    </div>
  </div>
</footer>

<style lang="scss">
  .wrapper {
    display: flex;
    flex-direction: column;
    margin-top: auto;
  }

  .top {
    padding-top: var(--space-60-80);
    padding-bottom: var(--space-60-80);
    border-bottom: var(--color-bg-secondary) solid 1px;
  }

  .bottom {
    padding-top: var(--space-30-40);
    padding-bottom: var(--space-30-40);
    display: flex;
    justify-content: space-between;
    font-size: var(--font-size-xs);
    color: var(--color-secondary);
    line-height: 100%;

    @media only screen and (width <= 460px) {
      flex-direction: column-reverse;
      align-items: center;
      gap: 10px;
    }
  }

  p {
    font-size: var(--font-size-l);
    text-align: center;
    grid-column: 4 / 10;
  }

  a {
    text-decoration: none;
    color: var(--color-secondary);
    transition: color 0.3s;

    &:hover,
    &:focus {
      color: var(--color-primary);
    }
  }
</style>
