---
import type { NavigationItem } from '@utils/types';
import socialLinks from '@data/socialLinks.json';
import footerLinks from '@data/footerLinks.json';
---

<div class="footer">
  <div class="wrapper">
    <div class="container">
      <div class="outro">
        <p class="outro__cta font-light">
          Thank you for stopping by. I decided to create this journal in order
          to cope with anxiety, preserve knowledge and memories, and reflect on
          my life. You can browse pages and tags for more posts.
        </p>
        <nav>
          <ul class="outro__elsewhere" role="list">
            {
              socialLinks.map((link: NavigationItem) => (
                <li>
                  <a
                    class="outro__elsewhere__item font-regular link-inverted"
                    href={link.url}
                  >
                    {link.title}
                  </a>
                </li>
              ))
            }
          </ul>
        </nav>
      </div>
      <div class="copyright">
        <p class="copyright__author font-light">© 2025 Evgenii Grigorev</p>
        <nav>
          <ul class="copyright__links" role="list">
            {
              footerLinks.map((link: NavigationItem) => (
                <li>
                  <a
                    class="copyright__links__item font-light link-inverted"
                    href={link.url}
                  >
                    {link.title}
                  </a>
                </li>
              ))
            }
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

<style lang="scss">
  .footer {
    padding-top: var(--space-120-160);
  }

  .wrapper {
    padding-top: var(--space-60-80);
    border-top: 1px solid var(--color-accent-secondary);
    background-color: var(--color-bg-secondary);
  }

  .outro {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: var(--space-30-40);

    &__cta {
      font-size: var(--font-size-s);
      line-height: 165%;
      max-width: 640px;
    }

    &__elsewhere {
      display: flex;
      align-items: center;
      gap: 30px;

      @media only screen and (width <= 480px) {
        flex-wrap: wrap;
        row-gap: var(--space-20-30);
      }

      &__item {
        font-size: var(--font-size-s);
      }
    }
  }

  .copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--color-accent-secondary);
    padding: var(--space-30-40) 0;

    @media only screen and (width <= 480px) {
      flex-direction: column-reverse;
      align-items: flex-start;
      gap: var(--space-20-30);
    }

    &__author {
      font-size: var(--font-size-xs);
    }

    &__links {
      display: flex;
      align-items: center;
      gap: 30px;

      &__item {
        font-size: var(--font-size-xs);
      }
    }
  }
</style>
