---
const navigationItems: { title: string; url: string }[] = [
  {
    title: 'RSS Feed',
    url: '/',
  },
  {
    title: 'Privacy & Security',
    url: '/',
  },
  {
    title: 'Sitemap',
    url: '/',
  },
];

const socialLinks: { title: string; url: string }[] = [
  {
    title: 'Instagram',
    url: 'https://www.instagram.com/eagrigorev/',
  },
  {
    title: 'Bluesky',
    url: 'https://bsky.app/profile/eagrigorev.bsky.social/',
  },
  {
    title: 'GitHub',
    url: 'https://github.com/eagrigorev/',
  },
];
---

<footer class="footer-navigation-wrapper">
  <div class="footer-top">
    <div>
      <h2 class="cta font-hgv-regular">
        Thank you for stopping by. You can browse pages and tags for more posts.
      </h2>
    </div>
    <div>
      <ul role="list" class="social-links">
        {
          socialLinks.map((item: { title: string; url: string }) => (
            <li class="social-link font-hgv-light">
              <a class="link--default" href={item.url}>
                {item.title}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
  <div class="footer-bottom font-hgv-regular">
    <div>
      <span>© 2025 Evgenii Grigorev</span>
    </div>
    <div>
      <ul role="list" class="items">
        {
          navigationItems.map((item: { title: string; url: string }) => (
            <li class="item">
              <a class="link--inverted" href={item.url}>
                {item.title}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</footer>

<style lang="scss">
  .footer-navigation-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: auto;
  }

  .footer-top {
    padding: var(--space-60-80) 0;
    border-top: var(--color-bg-secondary) solid 1px;
    border-bottom: var(--color-bg-secondary) solid 1px;
    display: flex;
    gap: var(--space-30-40);
    flex-direction: column;
    align-items: center;
  }

  .cta {
    font-size: var(--font-size-l);
    text-align: center;
    max-width: 450px;
  }

  .social-links {
    display: flex;
    gap: var(--space-30-40);
  }

  .social-link {
    line-height: 100%;
    font-size: var(--font-size-m);
  }

  .footer-bottom {
    padding: var(--space-30-40) 0;
    display: flex;
    justify-content: space-between;
    font-size: var(--font-size-xs);
    color: var(--color-secondary);
    line-height: 100%;

    @media only screen and (width <= 460px) {
      flex-direction: column-reverse;
      align-items: center;
      gap: 10px;
    }
  }

  .items {
    display: flex;
    gap: 5px;
  }

  .item {
    display: flex;
    align-items: center;
    gap: 5px;

    &:not(:first-child) {
      &::before {
        display: block;
        content: '|';
      }
    }
  }
</style>
