---

---

<footer class="wrapper">
  <div class="top grid jost-regular">
    <p>Thank you for stopping by. You can browse tags for more posts.</p>
  </div>
  <div class="bottom jost-small-grey">
    <div>
      <span>© 2025 Evgenii Grigorev</span>
    </div>
    <div>
      <a href="/">Home</a> | <a href="/">About</a> | <a href="/">Pages</a>
    </div>
  </div>
</footer>

<style lang="scss">
  .wrapper {
    display: flex;
    flex-direction: column;
    margin-top: auto;
  }

  .top {
    padding-top: var(--space-60-80);
    padding-bottom: var(--space-60-80);
    border-bottom: var(--accent-primary) solid 1px;
  }

  .bottom {
    padding-top: var(--space-30-40);
    padding-bottom: var(--space-30-40);
    display: flex;
    justify-content: space-between;
    font-size: var(--font-size-xs);
    color: var(--font-secondary);

    @media only screen and (width <= 480px) {
      flex-direction: column-reverse;
      align-items: center;
      gap: 10px;
    }
  }

  p {
    font-size: var(--font-size-l);
    text-align: center;
    grid-column: 2 / 4;
  }

  a {
    text-decoration: none;
    color: var(--font-secondary);
  }
</style>
