---
import { Image } from 'astro:assets';
import websiteLogo from 'src/images/assets/website-logo.svg';
import DesktopNavigation from './navigation/DesktopNavigation.astro';
import MobileNavigation from './navigation/MobileNavigation.astro';
---

<nav class="wrapper font-hgv-uppercase">
  <div class="navigation">
    <div>
      <a href="/"
        ><Image
          src={websiteLogo}
          alt="Website logo"
          width="60"
          height="60"
          decoding="async"
          loading="eager"
        /></a
      >
    </div>
    <div class="desktop-visibility">
      <DesktopNavigation />
    </div>
    <div class="mobile-visibility">
      <button id="mobile-menu-button" class="button-default">Menu</button>
    </div>
  </div>
  <div id="mobile-menu-wrapper" class="mobile-visibility is-hidden">
    <MobileNavigation />
  </div>
</nav>

<script>
  import { toggleVisibility } from 'src/scripts/toggleVisibility';
  toggleVisibility('#mobile-menu-button', '#mobile-menu-wrapper');
</script>

<style lang="scss">
  .wrapper {
    padding: var(--space-30-40) 0;
    font-size: var(--font-size-xs);
  }

  .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #mobile-menu-button {
    transition: color 0.3s;

    &:hover,
    &:focus {
      color: var(--color-secondary);
    }
  }

  #mobile-menu-wrapper {
    padding-top: var(--space-30-40);
  }
</style>
