---

---

<header class="header">
  <nav class="navigation font-geist-regular">
    <a class="link" href="/">Evgenii's Journal</a>
    <ul class="links" role="list">
      <li>
        <a class="link" href="/">Journal</a>
      </li>
      <li>
        <a class="link" href="/">About</a>
      </li>
    </ul>
  </nav>
  <div class="dropdown"></div>
</header>

<style lang="scss">
  .header {
    padding: var(--space-40-60) 0;
  }

  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--font-size-s);
  }

  .links {
    display: flex;
    align-items: center;
    gap: var(--space-30-40);
  }
</style>
