---

---

<nav class="wrapper jost-uppercase">
  <div class="navigation">
    <div>
      <a href="/">eagrigorev</a>
    </div>
    <div class="desktop">
      <ul>
        <li>
          <a href="/">home</a>
        </li>
        <li>
          <a href="/">about</a>
        </li>
        <li>
          <a href="/">pages</a>
        </li>
        <li>
          <a href="/">elsewhere</a>
        </li>
      </ul>
    </div>
    <div class="mobile">
      <button id="menu-button">menu</button>
    </div>
  </div>
  <div id="menu-wrapper" class="mobile hidden">
    <ul>
      <li>
        <a href="/">home</a>
      </li>
      <li>
        <a href="/">about</a>
      </li>
      <li>
        <a href="/">pages</a>
      </li>
      <li>
        <a href="/">instagram</a>
      </li>
      <li>
        <a href="/">github</a>
      </li>
      <li>
        <a href="/">bluesky</a>
      </li>
    </ul>
  </div>
</nav>

<script>
  document.querySelector('#menu-button').addEventListener('click', () => {
    document.querySelector('#menu-wrapper').classList.toggle('hidden');
  });
</script>

<style lang="scss">
  .wrapper {
    padding-top: var(--space-30-40);
    padding-bottom: var(--space-30-40);
    font-size: var(--font-size-xs);
  }

  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .desktop {
    display: block;

    @media only screen and (width < 880px) {
      display: none;
    }

    & > ul {
      display: flex;
      gap: var(--space-15-25);
      list-style: none;
    }

    & > ul > li {
      display: flex;
      align-items: center;
      gap: var(--space-15-25);

      &:not(:first-child) {
        &::before {
          display: block;
          content: '';
          width: 50px;
          height: 1px;
          background: var(--accent-primary);
        }
      }
    }
  }

  .mobile {
    display: none;

    @media only screen and (width < 880px) {
      display: block;
    }

    & > ul {
      display: flex;
      flex-direction: column;
      gap: var(--space-15-25);
      padding-top: var(--space-30-40);
      list-style: none;
    }
  }

  .hidden {
    display: none;
  }

  a {
    text-decoration: none;
    color: var(--font-primary);
  }

  button {
    border: none;
    background: none;
  }
</style>
