---
import { Image } from 'astro:assets';
import heroImage from '@assets/hero.jpg';
---

<div class="hero-wrapper">
  <Image
    class="image"
    src={heroImage}
    alt="Website hero banner depicting a building in Oxford, England"
    width="1128"
    height="564"
    decoding="async"
    loading="eager"
  />
</div>

<style lang="scss">
  .hero-wrapper {
    padding-bottom: var(--space-30-40);
  }

  .image {
    width: 100%;
    height: auto;
    aspect-ratio: 2/1;
  }
</style>
