---
import type { Illustration } from '@utils/types';
import { sortIllustrationsDesc } from '@utils/scripts';
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';

const allIllustrations: Illustration[] = await getCollection('illustrations');
const illustrations = sortIllustrationsDesc(allIllustrations);
---

<div class="illustration-grid-wrapper">
  {
    illustrations.map((illustration: Illustration) => (
      <a
        class="image--default"
        href={`/illustrations/${illustration.data.slug}`}
      >
        <Image
          class="image"
          src={illustration.data.image.url}
          alt={illustration.data.image.alt}
          width="300"
          height="300"
          decoding="async"
          loading="eager"
          layout="constrained"
        />
      </a>
    ))
  }
</div>

<style lang="scss">
  .illustration-grid-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--space-10-20);

    @media only screen and (width <= 800px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .image {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
  }
</style>
