---
import { Image } from 'astro:assets';
import avatar from '@images/assets/avatar.png';
---

<div class="intro">
  <Image
    class="avatar"
    src={avatar}
    alt="Avatar"
    width="100"
    height="100"
    decoding="async"
    loading="eager"
  />
  <div class="description">
    <h1 class="description__title font-uppercase">Hi there</h1>
    <p class="description__info font-light">
      Welcome to my website. I write about my hobbies and life, and I post my
      art and music. I decided to create this journal in order to cope with
      anxiety, preserve knowledge and memories, and reflect on my life.
    </p>
  </div>
</div>

<style lang="scss">
  .intro {
    display: flex;
    flex-direction: column;
    gap: var(--space-20-30);
    padding-top: var(--space-120-160);
  }

  .avatar {
    width: var(--space-70-100);
    height: var(--space-70-100);
    aspect-ratio: 1/1;
  }

  .description {
    display: flex;
    flex-direction: column;
    gap: var(--space-5-10);

    &__title {
      font-size: var(--font-size-xs);
    }

    &__info {
      font-size: var(--font-size-m);
      line-height: 165%;
      max-width: 640px;
    }
  }
</style>
