---
import type { Content } from '@utils/types';
import journalSections from '@data/journalSections.json';
import PostCard from '@components/PostCard.astro';

interface Props {
  sectionTitle: string;
  content: Content[];
}

const { sectionTitle, content }: Props = Astro.props;

const journalSection = journalSections.find(
  (section) => section.title === sectionTitle
);
---

<section class="journal-section">
  <header class="section-title">
    <h2 class="title font-geist-mono-uppercase">{journalSection?.title}</h2>
    <p class="description font-geist-light">
      {journalSection?.description}
    </p>
  </header>
  <div class="post-grid">
    {content.map((item: Content) => <PostCard contentMeta={item.data} />)}
  </div>
</section>

<style lang="scss">
  .journal-section {
    display: flex;
    gap: var(--space-40-60);
  }

  .section-title {
    display: flex;
    flex-direction: column;
    gap: var(--space-10-20);
    max-width: 300px;
    width: 100%;
  }

  .title {
    font-size: var(--font-size-2xs);
  }

  .description {
    font-size: var(--font-size-xs);
    color: var(--color-secondary);
  }

  .post-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    row-gap: 20px;

    @media only screen and (width <= 1280px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
</style>
