---
import type { NavigationItem } from '@utils/types';
import { FOOTER_NAV_ITEMS, SOCIAL_LINKS } from '@utils/const';
---

<footer class="footer-section">
  <div class="footer-top">
    <div>
      <h2 class="cta font-hgv-regular">
        Thank you for stopping by. You can browse pages and tags for more posts.
      </h2>
    </div>
    <div>
      <ul role="list" class="social-links">
        {
          SOCIAL_LINKS.map((item: NavigationItem) => (
            <li class="social-link font-hgv-light">
              <a class="link--primary" href={item.url}>
                {item.title}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
  <div class="footer-bottom font-hgv-regular">
    <div>
      <span>© 2025 Evgenii Grigorev</span>
    </div>
    <div>
      <ul role="list" class="items">
        {
          FOOTER_NAV_ITEMS.map((item: NavigationItem) => (
            <li class="item">
              <a class="link--secondary" href={item.url}>
                {item.title}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</footer>

<style lang="scss">
  .footer-section {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    border-top: var(--color-bg-secondary) solid 1px;
  }

  .footer-top {
    padding: var(--space-60-80) 0;
    display: flex;
    gap: var(--space-30-40);
    flex-direction: column;
    align-items: center;
  }

  .cta {
    font-size: var(--font-size-l);
    text-align: center;
    max-width: 450px;
  }

  .social-links {
    display: flex;
    gap: var(--space-30-40);
  }

  .social-link {
    line-height: 100%;
    font-size: var(--font-size-m);
  }

  .footer-bottom {
    padding: var(--space-30-40) 0;
    display: flex;
    justify-content: space-between;
    font-size: var(--font-size-xs);
    color: var(--color-secondary);
    line-height: 100%;
    border-top: var(--color-bg-secondary) solid 1px;

    @media only screen and (width <= 460px) {
      flex-direction: column-reverse;
      align-items: center;
      gap: 10px;
    }
  }

  .items {
    display: flex;
    gap: 5px;
  }

  .item {
    display: flex;
    align-items: center;
    gap: 5px;

    &:not(:first-child) {
      &::before {
        display: block;
        content: '|';
      }
    }
  }
</style>
