---
import WidgetLayout from '@layouts/WidgetLayout.astro';

const pages: { title: string; url: string }[] = [
  {
    title: 'Reading Journal',
    url: '/reading-journal',
  },
  {
    title: 'Illustrations',
    url: '/illustrations',
  },
  {
    title: 'Boreal Heights Music',
    url: '/boreal-heights-music',
  },
  {
    title: 'Fingerstyle Arrangements',
    url: '/arrangements',
  },
  {
    title: 'Colophon',
    url: '/colophon',
  },
];
---

<WidgetLayout>
  <h3 slot="title" class="title font-hgv-uppercase">Pages</h3>
  <ul slot="content" class="content font-hgv-light" role="list">
    {
      pages.map((page: { title: string; url: string }) => (
        <li>
          <a class="link--default" href={page.url}>
            {page.title}
          </a>
        </li>
      ))
    }
  </ul>
</WidgetLayout>

<style lang="scss">
  .title {
    font-size: var(--font-size-xs);
  }

  .content {
    font-size: var(--font-size-s);
    display: flex;
    flex-direction: column;
    gap: var(--space-10-20);
  }
</style>
