---
interface Props {
  title: string;
  subtitle?: string;
}

const { title, subtitle }: Props = Astro.props;
---

<div class="page-title">
  <h1 class="title font-uppercase">{title}</h1>
  {subtitle ? <p class="subtitle font-regular">{subtitle}</p> : null}
</div>

<style lang="scss">
  .page-title {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: var(--narrow-content);
    padding-top: var(--space-100-160);
    width: 100%;

    @media only screen and (width <= 768px) {
      max-width: none;
    }
  }

  .image {
    aspect-ratio: 1/1;
    border-radius: 50%;
    height: var(--space-75-100);
    width: var(--space-75-100);
  }

  .title {
    color: var(--color-accent-primary);
    font-size: var(--font-size-xl);
    line-height: 135%;
  }

  .subtitle {
    font-size: var(--font-size-m);
    line-height: 135%;
  }
</style>
