---
import type { Page } from '@utils/types';
import { render } from 'astro:content';
import { customTypography } from '@utils/customTypography';

interface Props {
  page: Page;
}

const { page } = Astro.props;
const { Content } = await render(page);
---

<div class="post-content-wrapper">
  <div class="post">
    <Content components={customTypography} />
  </div>
</div>

<style lang="scss">
  .post-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-60-80);
  }

  .post {
    display: flex;
    flex-direction: column;
    gap: var(--space-30-40);
  }
</style>
