---
import Tags from './Tags.astro';
---

<header>
  <div class="grid">
    <div class="info">
      <h1 class="title jost-regular">
        I'm a frontend software developer based in Thessaloniki, Greece.
      </h1>
      <h2 class="subtitle jost-light">
        I love clean and minimal interfaces, accessible homemade and local
        applications, and digital gardens.
      </h2>
    </div>
  </div>
  <Tags />
</header>

<style lang="scss">
  .info {
    grid-column: 1 / 4;
    display: flex;
    flex-direction: column;
    gap: var(--space-10-20);
    padding-bottom: var(--space-60-80);
  }

  .title {
    font-size: var(--font-size-2xl);
  }

  .subtitle {
    font-size: var(--font-size-m);
  }
</style>
