---
interface Props {
  title: {
    heading: string;
    subheading: string;
  };
}

const { title } = Astro.props;
---

<div class="page-title-wrapper">
  <div class="title separator">
    <h1 class="heading font-hgv-regular">
      {title.heading}
    </h1>
    <h2 class="subheading font-hgv-light">
      {title.subheading}
    </h2>
  </div>
</div>

<style lang="scss">
  .page-title-wrapper {
    padding-bottom: var(--space-30-40);
  }

  .title {
    display: flex;
    flex-direction: column;
    gap: var(--space-10-20);
    padding-bottom: var(--space-60-80);
  }

  .heading {
    max-width: 66%;
    font-size: var(--font-size-2xl);

    @media only screen and (width <= 768px) {
      max-width: 100%;
    }
  }

  .subheading {
    max-width: 50%;
    font-size: var(--font-size-m);

    @media only screen and (width <= 768px) {
      max-width: 100%;
    }
  }
</style>
