---
import { Image } from 'astro:assets';
import arrowLeft from '@images/icons8-arrow-left.png';
import arrowRight from '@images/icons8-arrow-right.png';
---

<div class="pagination">
  <a class="navigation-link link font-geist-mono-uppercase" href="/"
    ><Image
      src={arrowRight}
      alt="Social icon"
      width="20"
      height="20"
      decoding="async"
      loading="eager"
    />
    Newer posts</a
  >
  <a class="navigation-link link font-geist-mono-uppercase" href="/"
    >Older posts
    <Image
      src={arrowLeft}
      alt="Social icon"
      width="20"
      height="20"
      decoding="async"
      loading="eager"
    />
  </a>
</div>

<style lang="scss">
  .pagination {
    padding-top: var(--space-90-120);
    display: flex;
    align-items: center;
    gap: var(--space-30-40);
  }

  .navigation-link {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: var(--font-size-2xs);
  }
</style>
