---
const { prevPage, nextPage } = Astro.props;
---

<div class="pagination-wrapper">
  <a class="pagination-button font-hgv-uppercase" href={prevPage}>Newer posts</a
  >
  <a class="pagination-button font-hgv-uppercase" href={nextPage}>Older posts</a
  >
</div>

<script></script>

<style lang="scss">
  .pagination-wrapper {
    padding: var(--space-30-40) 0 var(--space-60-80) 0;
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .pagination-button {
    width: 250px;
    height: 50px;
    background: none;
    border: var(--color-bg-secondary) solid 1px;
    color: var(--color-primary);
    font-size: var(--font-size-2xs);
    transition: border-color 0.3s;

    &:hover,
    &:focus {
      cursor: pointer;
      border-color: var(--color-primary);
    }
  }
</style>
