---

---

<article class="widget-wrapper separator">
  <header>
    <h3 class="title font-hgv-uppercase">Recent Posts</h3>
  </header>
  <div>
    <ul class="content font-hgv-light" role="list">
      <li>
        <a class="link--default" href="/">Exploring the Pacific Northwest</a> on
        November 15, 1999
      </li>
      <li>
        <a class="link--default" href="/">Exploring the Pacific Northwest</a> on
        November 15, 1999
      </li>
      <li>
        <a class="link--default" href="/">Exploring the Pacific Northwest</a> on
        November 15, 1999
      </li>
    </ul>
  </div>
</article>

<style lang="scss">
  .widget-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--space-10-20);
    padding-bottom: var(--space-30-40);
  }
  .title {
    font-size: var(--font-size-xs);
  }

  .content {
    font-size: var(--font-size-s);
    display: flex;
    flex-direction: column;
    gap: var(--space-10-20);
  }
</style>
