---
import { getCollection } from 'astro:content';
import { sortPostsDesc } from '@utils/scripts';
import WidgetLayout from '@layouts/WidgetLayout.astro';

const posts = await getCollection('posts');
---

<WidgetLayout>
  <h3 slot="title" class="title font-hgv-uppercase">Recent Posts</h3>
  <ul slot="content" class="content font-hgv-light" role="list">
    {
      sortPostsDesc(posts)
        .slice(0, 5)
        .map((post) => (
          <li>
            <a class="link--default" href={`/posts/${post.data.slug}`}>
              {post.data.title}
            </a>{' '}
            on {post.data.datePublished}
          </li>
        ))
    }
  </ul>
</WidgetLayout>

<style lang="scss">
  .title {
    font-size: var(--font-size-xs);
  }

  .content {
    font-size: var(--font-size-s);
    display: flex;
    flex-direction: column;
    gap: var(--space-10-20);
  }
</style>
