---
import type { NavigationItem, Post } from '@utils/types';
import { getCollection } from 'astro:content';
import { generateUniqueTags, sortPostsDesc } from '@utils/scripts';
import AboutWidget from './widgets/AboutWidget.astro';
import PagesWidget from './widgets/PagesWidget.astro';
import RecentPostsWidget from './widgets/RecentPostsWidget.astro';
import TagsWidget from './widgets/TagsWidget.astro';

const allPosts: Post[] = await getCollection('posts');
const recentPosts = sortPostsDesc(allPosts.slice(0, 5));
const tags: NavigationItem[] = generateUniqueTags(allPosts);
---

<div class="sidebar-wrapper">
  <AboutWidget />
  <PagesWidget />
  <TagsWidget tags={tags} />
  <RecentPostsWidget recentPosts={recentPosts} />
</div>

<style lang="scss">
  .sidebar-wrapper {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: var(--space-30-40);

    @media only screen and (width <= 800px) {
      max-width: none;
    }
  }
</style>
