---
import testTags from '../data/testTags.json';
---

<div class="wrapper">
  <button id="tags-button" class="show-tags jost-uppercase">Show Tags</button>
  <div id="tags-wrapper" class="tags hidden">
    {
      testTags.map((tag) => (
        <a class="tag jost-regular" href={`/${tag}`}>
          {tag}
        </a>
      ))
    }
  </div>
</div>

<script>
  document.querySelector('#tags-button').addEventListener('click', () => {
    document.querySelector('#tags-wrapper').classList.toggle('hidden');
  });
</script>

<style lang="scss">
  .wrapper {
    font-size: var(--font-size-xs);
    padding-bottom: var(--space-30-40);
    border-bottom: var(--accent-primary) solid 1px;
  }

  .tags {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .tag {
    padding: 2px 10px;
    border: var(--accent-primary) solid 1px;
    border-radius: 20px;
    text-decoration: none;
    color: var(--font-primary);
  }

  .show-tags {
    border: none;
    background: none;
  }

  .hidden {
    display: none;
  }
</style>
