---
const navigationItems: { title: string; url: string }[] = [
  {
    title: 'Journal',
    url: '/',
  },
  {
    title: 'About',
    url: '/',
  },
  {
    title: 'Pages',
    url: '/',
  },
];
---

<nav class="top-navigation-wrapper font-hgv-uppercase">
  <div class="top-navigation-wrapper__main">
    <div>
      <a class="link--default" href="/">Eagrigorev.com</a>
    </div>
    <div class="active--desktop">
      <ul class="navigation-items" role="list">
        {
          navigationItems.map((item: { title: string; url: string }) => (
            <li class="item">
              <a class="link--default" href={item.url}>
                {item.title}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
    <div class="active--mobile">
      <button id="mobile-menu-button" class="button--default">Menu</button>
    </div>
  </div>
  <div id="mobile-menu-wrapper" class="active--mobile hidden">
    <ul role="list" class="navigation-items">
      {
        navigationItems.map((item: { title: string; url: string }) => (
          <li>
            <a class="link--default" href={item.url}>
              {item.title}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</nav>

<script>
  document
    .querySelector('#mobile-menu-button')
    ?.addEventListener('click', () => {
      document
        .querySelector('#mobile-menu-wrapper')
        ?.classList.toggle('hidden');
    });
</script>

<style lang="scss">
  .top-navigation-wrapper {
    padding: var(--space-30-40) 0;
    font-size: var(--font-size-xs);

    &__main {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .navigation-items {
    display: flex;
    align-items: center;
    gap: var(--space-20-30);

    @media only screen and (width <= 768px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .item {
    display: flex;
    align-items: center;
    gap: var(--space-20-30);

    &:not(:first-child) {
      &::before {
        display: block;
        content: '';
        width: var(--space-30-50);
        height: 1px;
        background: var(--color-bg-secondary);
      }
    }
  }

  #mobile-menu-wrapper {
    padding-top: var(--space-30-40);
  }
</style>
