---
import ImageWithCaption from './ImageWithCaption.astro';

interface Props {
  srcLeft: ImageMetadata;
  captionLeft: string;
  srcRight: ImageMetadata;
  captionRight: string;
}

const { srcLeft, captionLeft, srcRight, captionRight } = Astro.props;
---

<div class="gallery-wrapper">
  <ImageWithCaption src={srcLeft} caption={captionLeft} />
  <ImageWithCaption src={srcRight} caption={captionRight} />
</div>

<style lang="scss">
  .gallery-wrapper {
    display: flex;
    align-items: center;
    gap: var(--space-30-60);

    @media only screen and (width <= 800px) {
      flex-direction: column;
    }
  }
</style>
