---

---

<div class="journal-title">
  <h1 class="title font-jost--uppercase">Hi there</h1>
  <p class="subtitle font-spectral--light">
    My name is Evgenii. Welcome to my website. I write about my hobbies and
    life, and I post my art and music. I decided to create this journal in order
    to cope with anxiety, preserve knowledge and memories, and reflect on my
    life.
  </p>
</div>

<style lang="scss">
  .journal-title {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 720px;
    padding-top: var(--space-120-160);

    @media only screen and (width <= 768px) {
      max-width: none;
    }
  }

  .title {
    font-size: var(--font-size-xs);
  }

  .subtitle {
    font-size: var(--font-size-m);
    line-height: 160%;
  }
</style>
