---
interface Props {
  datePublished: string;
  category?: string;
}

const { datePublished, category }: Props = Astro.props;
---

<div class="meta-wrapper">
  <p class="item font-hgv--uppercase">
    {datePublished}
  </p>
  {
    category ? (
      <a
        class="item font-hgv--uppercase link--primary"
        href={`/categories/${category.toLowerCase()}`}
      >
        {category}
      </a>
    ) : null
  }
</div>

<style lang="scss">
  .meta-wrapper {
    display: flex;
    align-items: center;
    gap: var(--space-30-40);
  }

  .item {
    display: flex;
    align-items: center;
    gap: var(--space-30-40);
    font-size: var(--font-size-xs);

    &:not(:last-child) {
      &::after {
        display: block;
        content: '';
        width: var(--space-30-50);
        height: 1px;
        background: var(--color-bg-secondary-1);
      }
    }
  }
</style>
