---
interface Props {
  heading: string;
  subheading: string;
}

const { heading, subheading }: Props = Astro.props;
---

<div class="title">
  <h1 class="font-hg-regular heading">
    {heading}
  </h1>
  <h2 class="font-hg-light subheading">
    {subheading}
  </h2>
</div>

<style lang="scss">
  .title {
    display: flex;
    flex-direction: column;
    gap: var(--space-15-20);
  }

  .heading {
    max-width: 75%;
    font-size: var(--font-size-xl);
    line-height: 165%;

    @media only screen and (width <= 768px) {
      max-width: 100%;
    }
  }

  .subheading {
    max-width: 50%;
    font-size: var(--font-size-m);
    line-height: 165%;

    @media only screen and (width <= 800px) {
      max-width: 75%;
    }

    @media only screen and (width <= 480px) {
      max-width: 100%;
    }
  }
</style>
