---
import type { NavigationItem } from '@utils/types';
import footerLinks from '@data/footerLinks.json';
---

<div class="footer-bottom-wrapper">
  <span class="copyright font-hgv--regular">© 2025 Evgenii Grigorev</span>
  <ul class="footer-links" role="list">
    {
      footerLinks.map((item: NavigationItem) => (
        <li class="footer-link">
          <a class="font-hgv--regular link--secondary" href={item.url}>
            {item.title}
          </a>
        </li>
      ))
    }
  </ul>
</div>

<style lang="scss">
  .footer-bottom-wrapper {
    display: flex;
    align-items: center;
    gap: var(--space-30-40);
    font-size: var(--font-size-xs);
    color: var(--color-secondary);
    line-height: 100%;
    padding: var(--space-30-40) 0;
  }

  .footer-links {
    display: flex;
    gap: 5px;
  }

  .footer-link {
    display: flex;
    align-items: center;
    gap: 5px;

    &:not(:first-child) {
      &::before {
        display: block;
        content: '|';
      }
    }
  }
</style>
