---

---

<div class="footer-bottom">
  <p class="copyright font-regular">2025 ©Evgenii Grigorev</p>
</div>

<style lang="scss">
  .footer-bottom {
    border-top: var(--color-accent-secondary) 1px solid;
    display: flex;
    justify-content: center;
    padding: var(--space-30-40) 0;
  }

  .copyright {
    font-size: var(--font-size-s);
  }
</style>
