---
import type { NavigationItem } from '@utils/types';

const socialLinks: NavigationItem[] = [
  {
    title: 'Instagram',
    url: 'https://www.instagram.com/eagrigorev/',
  },
  {
    title: 'Bluesky',
    url: 'https://bsky.app/profile/eagrigorev.bsky.social/',
  },
  {
    title: 'GitHub',
    url: 'https://github.com/eagrigorev/',
  },
];
---

<div class="footer-top">
  <p class="outro font-regular">
    I decided to create this journal in order to cope with anxiety, preserve
    knowledge and memories, and reflect on my life. Thank you for stopping by.
  </p>
  <nav>
    <ul class="social-links" role="list">
      {
        socialLinks.map((link: NavigationItem) => (
          <li>
            <a class="social-link font-uppercase link-primary" href={link.url}>
              {link.title}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</div>

<style lang="scss">
  .footer-top {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: var(--narrow-content);
  }

  .outro {
    font-size: var(--font-size-s);
    line-height: 135%;
  }

  .social-links {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  .social-link {
    font-size: var(--font-size-xs);
  }
</style>
