---

---

<div class="content-wrapper font-regular">
  <slot />
</div>

<style lang="scss">
  .content-wrapper {
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-m);
    gap: var(--space-30-40);
    line-height: 150%;
  }
</style>
