---
import { Image } from 'astro:assets';
import heroImage from 'src/images/assets/hero-image.jpg';
import PageTitle from 'src/components/PageTitle.astro';
import GlobalTags from 'src/components/tags/GlobalTags.astro';

interface Props {
  title: string;
  subtitle: string;
}

const { title, subtitle } = Astro.props;
---

<main>
  <div class="hero-wrapper">
    <Image
      class="hero-image"
      src={heroImage}
      alt="Website hero"
      width="960"
      height="480"
      decoding="async"
      loading="eager"
    />
  </div>
  <header class="title-wrapper">
    <PageTitle title={title} subtitle={subtitle} />
    <div class="tags-wrapper">
      <span class="tags-title font-hgv-uppercase">Tags:</span>
      <GlobalTags />
    </div>
  </header>
  <slot />
</main>

<style lang="scss">
  .hero-wrapper {
    padding-bottom: var(--space-30-40);
  }

  .hero-image {
    width: 100%;
    height: auto;
    aspect-ratio: 2/1;
  }

  .title-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--space-30-40);
    padding-bottom: var(--space-30-40);
  }

  .tags-wrapper {
    display: flex;
    align-items: baseline;
    gap: var(--space-15-40);
    padding-bottom: var(--space-60-80);
    border-bottom: var(--color-bg-secondary) solid 1px;

    @media only screen and (width <= 768px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .tags-title {
    font-size: var(--font-size-xs);
  }
</style>
