---
import Hero from '@components/Hero.astro';
import PageTitle from '@components/PageTitle.astro';
import AboutWidget from '@components/AboutWidget.astro';
import PagesWidget from '@components/PagesWidget.astro';
import RecentPostsWidget from '@components/RecentPostsWidget.astro';
import TagsWidget from '@components/TagsWidget.astro';

interface Props {
  pageTitle: {
    heading: string;
    subheading: string;
  };
}

const { pageTitle } = Astro.props;
---

<main>
  <Hero />
  <PageTitle title={pageTitle} />
  <div class="content-wrapper">
    <section class="feed">
      <slot />
    </section>
    <section class="widgets">
      <AboutWidget />
      <PagesWidget />
      <TagsWidget />
      <RecentPostsWidget />
    </section>
  </div>
</main>

<style lang="scss">
  .content-wrapper {
    display: flex;
    gap: var(--space-30-60);
  }

  .feed {
    max-width: 768px;
  }

  .widgets {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: var(--space-30-40);
  }
</style>
