---

---

<main>
  <slot name="title" />
  <div class="content-wrapper">
    <div class="content font-hgv-light">
      <slot name="content" />
    </div>
  </div>
</main>

<style lang="scss">
  .content-wrapper {
    display: flex;
    gap: var(--space-30-60);
    padding-bottom: var(--space-30-40);

    @media only screen and (width <= 800px) {
      flex-direction: column;
    }
  }

  .content {
    font-size: var(--font-size-m);
  }
</style>
