---

---

<article class="wrapper">
  <header>
    <slot name="title" />
  </header>
  <div>
    <slot name="content" />
  </div>
</article>

<style lang="scss">
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--space-10-20);
    padding-bottom: var(--space-30-40);
    border-bottom: var(--color-bg-secondary) solid 1px;
  }
</style>
